{% extends 'base.html' %}
{% block body %}
<h1>About</h1>
<p id="about_text">{{content}}</p>
<h2>Developer's contacts</h2>
<p>
    <a href="vk.com/alexey_orlov65"><strong>VK</strong> @alexey_orlov65</a>
    <a href="instagram.com/siberianbearofficial"><strong>Instagram</strong> @siberianbearofficial</a>
    <a href="youtube.com/"><strong>YouTube</strong> Сибирский Мишка</a>
    <a href="mail.to/siberianbearofficial@vk.com"><strong>Email</strong> siberianbearofficial@vk.com</a>
    <a href="github.com/siberianbearoff"><strong>GitHub</strong> siberianbearoff</a>
</p>
{% endblock %}
{% block scripts %}
{% endblock %}