{% extends 'base.html' %}
{% block body %}
<h2>Корзина</h2>
{% if items == [] %}
<p>Корзина пуста. Вы можете начать выбирать товары прямо сейчас! Нажмите <a href="/">сюда</a></p>
{% else %}
<table width="100%">
{% for item in items %}
<tr>
  <td>
    <a href="/item_description/{{item['id']}}" class="nav-link px-2 text-muted"><strong class="d-block text-gray-dark">{{item['name']}}</strong></a>
  </td>
  <td>
    {{item['price']}}$
  </td>
  <td>
    {{item['count']}} in stock  <!-- Нужно выводить количество товара, добавленного в корзину, а не вообще в наличии! -->
  </td>
</tr>
{% endfor %}
</table>

<h3>Оформление заказа</h3>
<form action="/order" method="post">
    <label for="name">Имя</label><input type="text" name="name" id="name"><br>
    <label for="middlename">Отчество</label><input type="text" name="middlename" id="middlename"><br>
    <label for="surname">Фамилия</label><input type="text" name="surname" id="surname"><br>
    <label for="birthday">Дата рождения</label><input type="date" name="birthday" id="birthday"><br>
    <button type="submit">Оформить заказ</button>
</form>
<p>Самовывоз производится по адресу: Москва, м.Коммунарка. Дату и время получения, а также другие детали заказа будут отправлены на указанную в профиле электронную почту.</p>
{% endif %}
{% endblock %}