{% extends 'base.html' %}
{% block body %}
<table width="100%">
{% for item in items %}
<tr>
  <td>
    <a href="/item_description/{{item['id']}}" class="nav-link px-2 text-muted"><strong class="d-block text-gray-dark">{{item['name']}}</strong></a>
  </td>
  <td>
    {{item['price']}}$
  </td>
  <td>
    {{item['count']}} in stock
  </td>
  <td>
    <a href="/add_item_to_basket/{{item['id']}}" class="nav-link px-2 text-muted">Добавить козину</a>
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}